.git

build/CMakeFiles
build/.*

devel/.*

src/*.o
src/.version_linux64
src/CarMaker.linux64
src/app_tmp.c

ros/ros1_ws/build/
ros/ros1_ws/devel/
ros/ros1_ws/src/.vscode/browse*

Data/Road/.tmp*
Data/TestRun/.tmp*
Data/Vehicle/.tmp*
Movie/.*
src/.*
src_cm4sl/.*

bin/*
!bin/.gitkeep
SimOutput/*
!SimOutput/.gitkeep
